* {
  all: unset;
}

.bar {
  background-color: rgba(0, 0, 0, 0.18);
  // background-color: rgba(255, 255, 255, 0.5);
  font-family: "SF Display Pro";
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-shadow:
    0px 36px 100px rgba(0, 0, 0, 0.7),
    0px 1px 4px rgba(0, 0, 0, 0.2);
}

.dummy-burn {
  border-radius: 12px;
  box-shadow:
    0px 0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 4px 4px rgba(0, 0, 0, 0.56);

  // box-shadow:
  //   0px 2px 6px 0px rgba(0, 0, 0, 0.2),
  //   0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);

  // box-shadow:
  //   0px 0px 3px 0px rgba(0, 0, 0, 0.55),
  //   0px 8px 40px 0px rgba(0, 0, 0, 0.25),
  //   0px 0px 3px 0px rgba(255, 255, 255, 0.1) inset;
}

.dummy {
  background: rgba(40, 40, 40, 0.6);
  padding: 16px;
  // background: rgba(234, 234, 234, 0.84);
  border-radius: 12px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
}

.widget-container > .title {
  font-weight: bold;
  font-size: 16px;
}

.bar-start-item {
  margin-left: 16px;
}

.bar-center-item {
  padding-left: 16px;
  padding-right: 16px;
}

.bar-end-item {
  margin-right: 16px;
}

.workspace {
  border-radius: 8px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.workspace-active {
  background-color: rgba(255, 255, 255, 0.85);
}

.workspace-inactive {
  background-color: rgba(0, 0, 0, 0.28);
}

.icon {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  // transition-property: background-color;
  // transition-duration: 100ms;
}

.network-icon {
  font-size: 19px;
}

.os-icon,
.power-icon {
  font-size: 24px;
}

.sound-output-icon,
.sound-input-icon {
  font-size: 22px;
}

.docker-icon,
.bluetooth-icon {
  font-size: 20px;
}

.calendar-icon {
  font-size: 14px;
}

.control-center-icon,
.spotlight-icon {
  font-size: 16px;
}

.icon:hover {
  // transition-property: background-color;
  // transition-duration: 100ms;
  // border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}

.button-on {
  background: linear-gradient(rgba(21, 94, 206, 1), rgba(24, 104, 229, 1));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05) inline;
  outline: solid 0.5px rgba(255, 255, 255, 0.12);
}

.button-container {
  border-radius: 12px;
  transition-duration: 200ms;
}

.button-container:active,
.button-container:active > .button-circle-container > .button-circle {
  background: linear-gradient(
    rgba(255, 255, 255, 0.48),
    rgba(255, 255, 255, 0.56)
  );
}

.button-off {
  background: linear-gradient(
    rgba(255, 255, 255, 0.14),
    rgba(255, 255, 255, 0.28)
  );
  box-shadow:
    0px 0.5px 0px 0px rgba(255, 255, 255, 0.15) inline,
    0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.button-circle-container {
  padding: 2px;
}

.button-circle {
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 1);
  box-shadow: 0px 0.5px 4px 0px rgba(0, 0, 0, 0.2);
  outline: solid 0.5px rgba(0, 0, 0, 0.2);
}

// // Calendar
// .cal {
//   background-color: #0f0f17;
//   font-family: JetBrainsMono Nerd Font;
//   font-size: 18px;
//   font-weight: normal;

//   .cal-in {
//     padding: 0px 10px 0px 10px;
//     color: #bfc9db;

//     .cal {
//       &.highlight {
//         padding: 20px;
//       }

//       padding: 5px 5px 5px 5px;
//       margin-left: 10px;
//     }
//   }
// }

// calender {
//   color: #bfc9db;
// }
// calendar:selected {
//   color: #a1bdce;
// }

// calendar.header {
//   color: #a1bdce;
//   font-weight: bold;
// }

// calendar.button {
//   color: #afbea2;
// }

// calendar.highlight {
//   color: #a1bdce;
//   font-weight: bold;
// }

// calendar:indeterminate {
//   color: #bfc9db;
// }
