* {
  all: unset;
}

.bar {
  background-color: rgba(49, 48, 48, 0.2);
}

.bar .bar-item {
  font-family: "FiraCodeNerd Mono";
  font-weight: bold;
}

.bar .start-item {
  margin-left: 16px;
  background-color: rgba(255, 0, 0, 0.2);
}

.bar .center-item {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(0, 255, 0, 0.2);
}

.bar .workspace {
  border-radius: 8px;
}

.bar .end-item {
  margin-right: 16px;
  background-color: rgba(0, 0, 255, 0.2);
}

.bar .active {
  background-color: rgba(255, 0, 0, 1);
}

.bar .inactive {
  background-color: rgba(0, 0, 0, 1);
}
