QtProject.conf
yay
mimeapps.list
libreoffice
dconf
btop
gtk-2.0
gtk-3.0
gtk-4.0
systemd
obsidian
WebCord
Electron
pulse
figma-linux
pavucontrol.ini
GIMP
Thunar
xfce4
obs-studio
go
Postman
openvpn
wireguard
ags/types
nvim/lazy-lock.json
vlc
lazygit
tmux/plugins
dlv
user-dirs.dirs
user-dirs.locale
menus
cava
amnezia
filezilla
configstore
pdfcpu
procps
ags
Ax-Shell
agsnew
agsold
astal
unity3d
inkscape
