* {
  all: unset;
}

.workspace {
  border-radius: 8px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.workspace-active {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.workspace-inactive {
  background-color: rgba(0, 0, 0, 0.28);
  border-radius: 8px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.ags-bar {
  background-color: rgba(0, 0, 0, 0.18);
  font-family: "SF Display Pro";
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-shadow:
    0px 36px 100px rgba(0, 0, 0, 0.7),
    0px 1px 4px rgba(0, 0, 0, 0.2);
}

.ags-background {
  background-image: url("/home/ncarob/.config/eww/wallpapers/Wallpaper.png");
}
