* {
  all: unset;
}

.workspace {
  border-radius: 8px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.28);
  transition: background-color 0.4s ease-in-out;
}

.workspace-active {
  background-color: rgba(255, 255, 255, 0.75);
  animation: expandWorkspace 0.3s ease-in-out forwards;
}

.workspace-inactive {
  animation: shrinkWorkspace 0.3s ease-in-out forwards;
}

.ags-bar {
  background-color: rgba(0, 0, 0, 0.18);
  font-family: "SF Display Pro";
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-shadow:
    0px 36px 100px rgba(0, 0, 0, 0.7),
    0px 1px 4px rgba(0, 0, 0, 0.2);
}

.ags-background {
  background-image: url("/home/ncarob/.config/eww/wallpapers/Wallpaper.png");
}

@keyframes shrinkWorkspace {
  from {
    min-width: 32px;
  }
  to {
    min-width: 16px;
  }
}

@keyframes expandWorkspace {
  from {
    min-width: 16px;
  }
  to {
    min-width: 32px;
  }
}

window.notification-popups box.notifications {
  padding: 0.5em;
}

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}

.icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: @theme_fg_color;
}

.icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px;
}

.notification {
  min-width: 350px;
  border-radius: 11px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid @wm_borders_edge;
  background: rgba(0, 0, 0, 0.18);
}

.notification.critical {
  border: 1px solid lightcoral;
}

.title {
  color: @theme_fg_color;
  font-size: 1.4em;
}

.body {
  color: @theme_unfocused_fg_color;
}

.actions .action-button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}

.input-volume-button:hover,
.output-volume-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
}

.volume-controls-container {
  background: rgba(40, 40, 40, 0.56);
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  padding: 12px;
}

.volume-controls-slider {
  /* margin: 8px 32px; */
}

.volume-controls-slider trough {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.volume-controls-slider highlight {
  min-height: 20px;
  min-width: 20px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.85);
}

.volume-controls-separator {
  background: rgba(255, 255, 255, 0.2);
}

.clock {
  padding: 0px 12px;
  /* font-family: SF Pro; */
  /* font-size: 15px; */
  /* font-weight: 590; */
  /* line-height: 20px; */
  /* text-align: left; */
}
