// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
/* $fg-color: #{"@theme_fg_color"}; */
/* $bg-color: #{"@theme_bg_color"}; */

$background: #0d1321;
$foreground: #1d2d44;
$primary: #748cab;
$secondary: #3e5c76;
$accent: #f0ebd8;
$text: #f9f9f9;

@use "./widget/menu/Menu.scss";
/* @use "./widget/bar/Bar.scss"; */

/* image { */
/*   -gtk-icon-size: 20px; */
/*   -gtk-icon-style: symbolic; */
/*   color: $text; */
/* } */
