$background: #0d1321;
$foreground: #1d2d44;
$primary: #748cab;
$secondary: #3e5c76;
$accent: #f0ebd8;
$text: #f9f9f9;

* {
  all: unset;
}

window.Bar {
  /* background: $background; */
  /* background: transparent; */
  color: $text;
  font-size: 1rem;
  font-weight: bold;
  min-height: 40px;

  input-sound,
  output-sound {
    &:hover {
      min-width: 100px;
      background: $accent;
    }
  }

  /* image { -gtk-icon-size: 16px; */
  /*   color: $accent; */
  /* -gtk-icon-palette: "WhiteSur"; */
  /* fill: $text; */
  /* background: $text; */

  /*   &:hover { */
  /*     background: $accent; */
  /*   } */
  /* } */

  bar {
    margin: 0px 12px;

    workspaces {
      margin: 4px 6px;
      background: $foreground;
      border-radius: 20px;

      workspace {
        margin: 0px 6px;
        min-width: 20px;
        min-height: 20px;

        button {
          background: $foreground;
          border-radius: 12px;
          animation: shrinkWorkspace 0.3s ease-in-out forwards;
          transition: background-color 0.4s ease-in-out;

          &.active {
            background: $primary;
          }

          &.focused {
            background: $accent;
            animation: expandWorkspace 0.3s ease-in-out forwards;

            dot {
              animation: expandDot 0.3s ease-in-out forwards;
            }
          }

          dot {
            min-width: 8px;
            min-height: 8px;
            border-radius: 4px;
            background: $background;
            animation: shrinkDot 0.3s ease-in-out forwards;
          }
        }
      }
    }

    @keyframes shrinkWorkspace {
      from {
        min-width: 32px;
      }
      to {
        min-width: 20px;
      }
    }

    @keyframes expandWorkspace {
      from {
        min-width: 20px;
      }
      to {
        min-width: 32px;
      }
    }

    @keyframes shrinkDot {
      from {
        min-width: 16px;
      }
      to {
        min-width: 8px;
      }
    }

    @keyframes expandDot {
      from {
        min-width: 8px;
      }
      to {
        min-width: 16px;
      }
    }
  }
}
