@use "../../scheme";

* {
  all: unset;
}

window#bar {
  /* background: $bg_color; */
  /* background: transparent; */
  color: $text;
  font-size: 1rem;
  font-weight: bold;

  centerbox {
    box {
      background: white;
    }
  }

  /* image { -gtk-icon-size: 16px; */
  /*   color: $accent; */
  /* -gtk-icon-palette: "WhiteSur"; */
  /* fill: $text; */
  /* background: $text; */

  /*   &:hover { */
  /*     background: $accent; */
  /*   } */
  /* } */

