@use "scheme";

window#bar {
  box {
    :nth-child(2) {
      min-width: 600px;
      min-height: 8px;
      background: scheme.$bg_color;
      border-radius: 0px 0px 4px 4px;
      transition: all 0.24s ease-out;
    }
    &:hover {
      :nth-child(2) {
        min-height: 40px;
        border-radius: 0px 0px 16px 16px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
